@page
@model RegisterModel
<!DOCTYPE html>
<html lang="zxx">

<head>

    <title>Регистрация</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Odyssey a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->
    <!-- Custom-Stylesheet-Links -->
    <!-- Bootstrap-CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all">
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <!-- Owl-Carousel-CSS -->
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
    <!-- Date-Picker-CSS -->
    <link rel="stylesheet" href="css/jquery-ui.css" type="text/css" media="all">
    <!-- Chocolat-CSS -->
    <link rel="stylesheet" href="css/chocolat.css" type="text/css" media="all">
    <!-- //Custom-Stylesheet-Links -->

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css" media="all">

    <!-- CSS -->
    <link rel="stylesheet" href="css/font-awesome.css" type="text/css" media="all">
    <!-- TTF -->
    <link rel="stylesheet" href="fonts/fontawesome-webfont.ttf" type="text/css" media="all">
    <script src="js/modernizr.js"></script>
    <style type="text/css">
        input::placeholder {
            color: white;
        }
    </style>
</head>
<body>
    <div class="agileheader" id="agileitshome">
        <div class="w3lsnavigation">
            <nav class="navbar navbar-default agilehovereffect wthreehovereffect">

                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-2" id="link-effect-2">
                        <ul class="nav navbar-nav">
                            <li><a class="scroll" href="/Identity/Account/Login"><span>ВХОД</span></a></li>
                            <li><a class="scroll" href="/Identity/Account/Register"><span>РЕГИСТРАЦИЯ</span></a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <div class="agilecontactw3ls" id="agilecontactw3ls" style="width: 100%; height: 100vh">
        <div class="container">
            <h3>Регистрация</h3>
            <form method="post">
                <div class="col-md-6 agilecontactw3ls-grid agilecontactw3ls-grid-1" style="left: 25%">
                    <input asp-for="Input.Name" placeholder="Имя" required="">
                    <input asp-for="Input.Surname" placeholder="Фамилия" required="">
                    <input asp-for="Input.Email" placeholder="Электронный адрес" required="">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <input asp-for="Input.Password" placeholder="Пароль" required="">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <input asp-for="Input.ConfirmPassword" placeholder="Повторите пароль" required="">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <input asp-for="Input.isSubscriber" id="check">
                    <label for="check" style="color: white">Подписаться на рассылку</label><br>
                    <input type="submit" value="Зарегистрироваться" style="font-size: 30px; color: white; background: center;">
                </div>
                <div class="clearfix"></div>
            </form>
        </div>0
    </div>

</body>

</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
