<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <title>@ViewData["Title"] - Сайт путешественника</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Odyssey a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->
    <!-- Custom-Stylesheet-Links -->
    <!-- Bootstrap-CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" media="all">
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">
    <!-- Owl-Carousel-CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css" media="all">
    <!-- Date-Picker-CSS -->
    <link rel="stylesheet" href="~/css/jquery-ui.css" type="text/css" media="all">
    <!-- Chocolat-CSS -->
    <link rel="stylesheet" href="~/css/chocolat.css" type="text/css" media="all">
    <!-- //Custom-Stylesheet-Links -->
    <!-- Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css" media="all">
    <!-- //Fonts -->
    <!-- Font-Awesome-File-Links -->
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.css" type="text/css" media="all">
    <!-- TTF -->
    <link rel="stylesheet" href="~/fonts/fontawesome-webfont.ttf" type="text/css" media="all">
    <!-- //Font-Awesome-File-Links -->
    <!-- Supportive-JavaScript -->
    <script src="~/js/modernizr.js"></script>
    <!-- //Supportive-JavaScript -->
    <style type="text/css">
        #reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
            background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
        }

        #reviewStars-input {
            /*fix floating problems*/
            overflow: hidden;
            *zoom: 1;
            /*end of fix floating problems*/
            position: relative;
            float: left;
        }

            #reviewStars-input input {
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                opacity: 0;
                width: 43px;
                height: 40px;
                position: absolute;
                top: 0;
                z-index: 0;
            }

                #reviewStars-input input:checked ~ label {
                    background-position: 0 -40px;
                    height: 40px;
                    width: 43px;
                }

            #reviewStars-input label {
                background-position: 0 0;
                height: 40px;
                width: 43px;
                float: right;
                cursor: pointer;
                margin-right: 10px;
                position: relative;
                z-index: 1;
            }

                #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
                    background-position: 0 -40px;
                    height: 40px;
                    width: 43px;
                }

            #reviewStars-input #star-0 {
                left: 0px;
            }

            #reviewStars-input #star-1 {
                left: 53px;
            }

            #reviewStars-input #star-2 {
                left: 106px;
            }

            #reviewStars-input #star-3 {
                left: 159px;
            }

            #reviewStars-input #star-4 {
                left: 212px;
            }

            #reviewStars-input #star-5 {
                left: 265px;
            }

        .form-search {
            display: inline-block;
            border-bottom: 1px solid;
        }

            .form-search input {
                all: unset;
                color: white;
            }

        ::placeholder {
            color: white;
            opacity: 1;
        }


        .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
        .search-result{
            position: absolute;
            top: 100%;
            left: 0;
            border: 1px solid #ddd;
            background: #fff;
            padding: 10px;
            z-index: 999;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    </style>
</head>
<!-- //Head -->
<!-- Body -->
<body>
    @RenderBody()
</body>
</html>
